menuconfig PARAVIRT
    bool "Enable paravirtualization support"

if PARAVIRT

config KVM_GUEST
    bool "Support for running as a KVM guest"
    select PVCLOCK
    default y

config BHYVE_GUEST
    bool "Support for running as a Bhyve guest"
    default y

config EMULATOR_GUEST
    bool "Support for Bochs and QEMU+TCG"
    default y

endif
