ENTRY(x86_entry)

#define VIRTUAL_BASE    0xFFFFFFFF80000000
#define PHYSICAL_OFFSET 0

#define INT3_OPCODE 0xCCCCCCCC

#include <linker_common.ld.h>
#include <arch/private/linker.h>

// NOTE: These flags are currently not enforced by anyone
PHDRS
{
    text   PT_LOAD FLAGS(PHDR_READ | PHDR_EXEC);
    rodata PT_LOAD FLAGS(PHDR_READ);
    data   PT_LOAD FLAGS(PHDR_READ | PHDR_WRITE);
}

SECTIONS
{
    . = VIRTUAL_BASE + PHYSICAL_OFFSET;

    NORELOCS_GUARD

    .text : VIRTUAL_BASE_RELATIVE(.text)
    {
        TEXT_BEGIN

        . = ALIGN(8);
        SECTION_MARKER_BEGIN(IDT_THUNKS_SECTION) = .;
        SPECIAL_SECTION(IDT_THUNKS_ASM_SECTION)

        . = ALIGN(16);
        TEXT

        TEXT_FREE_AFTER_INIT_BEGIN
        TEXT_FREE_AFTER_INIT
        TEXT_FREE_AFTER_INIT_END

        TEXT_END
    } :text =INT3_OPCODE

    . = ALIGN(4K);

    RODATA_OUTPUT

    EH_FRAME_HDR_OUTPUT
    EH_FRAME_OUTPUT

    . = ALIGN(4K);

    DATA_OUTPUT
    BSS_OUTPUT

    SECTION_DEBUG
    SECTION_TABS

    DISCARDS
}
