ENTRY(x86_entry_asm)

#define VIRTUAL_BASE    0xFFFFFFFF80000000
#define PHYSICAL_OFFSET 0

#define INT3_OPCODE 0xCCCCCCCC

#include <linker_common.ld.h>
#include <arch/private/linker.h>

// NOTE: These flags are currently not enforced by anyone
PHDRS
{
    text   PT_LOAD FLAGS(PHDR_READ | PHDR_EXEC);
    rodata PT_LOAD FLAGS(PHDR_READ);
    data   PT_LOAD FLAGS(PHDR_READ | PHDR_WRITE);
}

SECTIONS
{
    . = VIRTUAL_BASE + PHYSICAL_OFFSET;

    NORELOCS_GUARD

    EXECUTABLE_DATA_BEGIN
    .text : VIRTUAL_BASE_RELATIVE(.text)
    {
        TEXT_BEGIN

        . = ALIGN(8);
        SECTION_MARKER_BEGIN(IDT_THUNKS_SECTION) = .;
        SPECIAL_SECTION(IDT_THUNKS_ASM_SECTION)

        . = ALIGN(16);
        TEXT

        TEXT_FREE_AFTER_INIT_BEGIN
        TEXT_FREE_AFTER_INIT
        TEXT_FREE_AFTER_INIT_END

        TEXT_END
    } :text =INT3_OPCODE
    EXECUTABLE_DATA_END

    READONLY_DATA_BEGIN
    .rodata : VIRTUAL_BASE_RELATIVE(.rodata)
    {
        RODATA
        NATURALLY_ALIGNED_MARKED_SECTION(ABORTABLE_INSTRUCTIONS_SECTION)
        RODATA_FREE_AFTER_INIT_BEGIN
        RODATA_FREE_AFTER_INIT
        NATURALLY_ALIGNED_MARKED_SECTION(HYPERVISORS_SECTION)
        RODATA_FREE_AFTER_INIT_END
    } :rodata =0xDEADBEEF

    EH_FRAME_HDR_OUTPUT
    EH_FRAME_OUTPUT
    READONLY_DATA_END

    READWRITE_DATA_BEGIN
    DATA_OUTPUT
    BSS_OUTPUT
    READWRITE_DATA_END

    SECTION_DEBUG
    SECTION_TABS

    DISCARDS
}
